{% extends 'base.html' %}

{% block title %}
How to Add Quotes - QuoteBot
{% endblock %}

{% block content %}
<main style="flex-grow: 1; display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 20px;">
    <div id="content-background" style="background: #222937; border-radius: 18px; padding-top: 40px; padding-bottom: 40px; padding-left: 100px; padding-right: 100px; width: 80%; display: flex; flex-direction: column; align-items: center; gap: 20px;">
      <div id="title-background" style="background: #3A4151; border-radius: 10px; padding: 20px 30px; min-width: none; margin-top: 20px;">
        <div style="display: flex; align-items: center;">
          <img src="{{ url_for('static', filename='images/faq/add.png') }}" alt="Add Icon" style="width: 36px; height: 36px; margin-left: 10px; margin-right: 10px;">
          <h2 style="font-size: 2em; font-weight: 700; text-align: center; color: #ffffff; margin: 0;">How to Add Quotes</h2>
        </div>
      </div>  
      
      <!-- Video Player -->
        <div style="padding: 20px; text-align: center; width: 100%;">
            <video controls style="width: 100%; max-width: 640px; height: auto; border-radius: 10px;">
                <source src="path_to_your_video.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <!-- Instructions and Additional Information -->
        <div style="background: none; border-radius: 18px; padding: 20px; display: flex; gap: 20px; justify-content: space-between; align-items: flex-start;">
          <div style="display: flex; gap: 20px; flex: 1;">
          <!-- Command Usage Column -->
          <div id="command-background" style="background: #3A4151; border-radius: 18px; padding: 20px; flex: 1; margin-right: 10px; text-align: center;">
            <div id="command-title-background" style="background: #57627B; border-radius: 20px; padding: 0 15px; display: inline-block; text-align: center;">
              <h3 id="command-title-text" style="color: #fff; font-size: 1.2em; margin-bottom: 20px;">Add Command Format</h3>
            </div>
            
            
            <h3 id="command-format-text" style="color: #fff; font-size: 1em; text-align: center; margin-top: 26px">/add &lt;user&gt; &lt;quote&gt; [&lt;context&gt;]</h3>
            <ul id="command-format-list" style="list-style: none; padding-left: 0; color: #fff; font-size: 1em; text-align: left;">
              <li><strong>/add :</strong>
                <ul>
                  <li>The command name, type this into a channel on Discord to start adding a quote.</li><br>
                </ul>
              </li>
              <li><strong>&lt;user&gt; :</strong>
                <ul>
                  <li>The discord user you wish to add a quote to.</li><br>
                </ul>
              </li>
              <li><strong>&lt;quote&gt;:</strong>
                <ul>
                  <li>The text content of the quote you want to add.</li><br>
                </ul>
              </li>
              <li><strong>&lt;context&gt; :</strong> <span style="font-style: italic;">(optional)</span>
                <ul>
                  <li>Write a short entry to give extra context to the quote.</li><br>
                </ul>
              </li>
            </ul>
          </div>
        
          <!-- Additional Information Column -->
          <div id="information-background" style="background: #3A4151; border-radius: 18px; padding: 20px; flex: 1; margin-left: 10px; text-align: center;">
            <div id="information-title-background" style="background: #57627B; border-radius: 20px; padding: 0 15px; display: inline-block; text-align: center;">
              <h3 id="information-title-text" style="color: #fff; font-size: 1.2em; margin-bottom: 20px;">Additional Information</h3>
            </div>
            <p id="information-text" style="color: #fff; font-size: 1em; text-align: left; margin-bottom: 40px; margin-top: 20px;margin-left: 20px; margin-right: 20px;">Your quote will have a custom message assigned to it after it has been added to QuoteBot:</p>
            <img src="{{ url_for('static', filename='images/faq/examples/add_example.png') }}" alt="Quote Example" style="width: 100%; max-width: 400px; height: auto; border-radius: 5px;">
            <p id="information-text" style="color: #fff; font-size: 1em; text-align: left; font-style: italic; margin-top: 40px; margin-left: 20px; margin-right: 20px;">All added quotes are automatically scanned by our filters for content sorting</p>
            
          </div>
        </div>
      </div>
        

    </div>
</main>
{% endblock %}

{% block scripts %}
<script>
const addPageDarkModeColors = {
    mainBackground: "#222937",
    titleBackground: "#3A4151",
    textColor: "#ffffff",
    commandBackground: "#3A4151",
    informationBackground: "#3A4151",
    commandTitleBackground: "#57627B",
    informationTitleBackground: "#57627B",
};

const addPageLightModeColors = {
    mainBackground: "#D1D7E0",
    titleBackground: "#F0F0F0",
    textColor: "#000000",
    commandBackground: "#F0F0F0",
    informationBackground: "#F0F0F0",
    commandTitleBackground: "#B0BEC5",
    informationTitleBackground: "#B0BEC5",
};

function applyAddPageTheme(themeColors) {
    const setContentBackground = document.getElementById('content-background');
    if (setContentBackground) {
        setContentBackground.style.backgroundColor = themeColors.mainBackground;
    }

    const setTitleBackground = document.getElementById('title-background');
    if (setTitleBackground) {
        setTitleBackground.style.backgroundColor = themeColors.titleBackground;
        setTitleBackground.querySelectorAll('h2').forEach(element => {
            element.style.color = themeColors.textColor;
        });
    }

    const setCommandBackground = document.getElementById('command-background');
    if (setCommandBackground) {
        setCommandBackground.style.backgroundColor = themeColors.commandBackground;
    }

    const setCommandTitleBackground = document.getElementById('command-title-background');
    if (setCommandTitleBackground) {
        setCommandTitleBackground.style.backgroundColor = themeColors.commandTitleBackground;
    }

    const setCommandTitleText = document.getElementById('command-title-text');
    if (setCommandTitleText) {
        setCommandTitleText.style.color = themeColors.textColor;
    }

    const setCommandFormatText = document.getElementById('command-format-text');
    if (setCommandFormatText) {
        setCommandFormatText.style.color = themeColors.textColor;
    }

    const setCommandFormatList = document.getElementById('command-format-list');
    if (setCommandFormatList) {
        setCommandFormatList.style.color = themeColors.textColor;
    }

    const setInformationBackground = document.getElementById('information-background');
    if (setInformationBackground) {
        setInformationBackground.style.backgroundColor = themeColors.informationBackground;
    }

    const setInformationTitleBackground = document.getElementById('information-title-background');
    if (setInformationTitleBackground) {
        setInformationTitleBackground.style.backgroundColor = themeColors.informationTitleBackground;
    }

    const setInformationTexts = document.querySelectorAll('#information-title-text, #information-text');
    setInformationTexts.forEach(element => {
        if (element) {
            element.style.color = themeColors.textColor;
        }
    });
}


// Listen for theme changes
window.addEventListener('themeChanged', function(e) {
    let currentTheme = e.detail.theme === 'light' ? addPageLightModeColors : addPageDarkModeColors;
    applyAddPageTheme(currentTheme);
});

// Apply the initial theme based on localStorage
let initialTheme = localStorage.getItem('theme') === 'light' ? addPageLightModeColors : addPageDarkModeColors;
applyAddPageTheme(initialTheme);
</script>
  {% endblock %}
