{% extends 'base.html' %}

{% block title %}
FAQ NSFW - QuoteBot
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<main style="flex-grow: 1; display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 20px;">
    <div style="background: #222937; border-radius: 18px; padding-top: 40px; padding-bottom: 40px; padding-left: 80px; padding-right: 80px; width: 80%; display: flex; flex-direction: column; align-items: center; gap: 20px;">
        <div style="background: #3A4151; border-radius: 18px; padding-right: 50px; padding-left: 50px; padding-top: 20px; padding-bottom: 20px; display: inline-block; text-align: center;">
          <div style="display: flex; align-items: center;">
          <img src="{{ url_for('static', filename='images/faq/nsfw.png') }}" alt="NSFW Icon" style="width: 36px; height: 36px; margin-left: 18px; margin-right: 10px;">
          <h2 style="font-size: 2em; font-weight: 700; color: #ffffff; margin: 0;">NSFW Quotes</h2>
        </div>
      </div>
      
      <div style="background: #3A4151; border-radius: 18px; padding: 20px; width: 90%;">
        
        <div style="display: flex; align-items: center;">
          <img src="{{ url_for('static', filename='images/faq/WARNING.png') }}" alt="Warning Icon" style="width: 36px; height: 36px; margin-left: 18px; margin-right: 10px;">
          <h3 style="font-size: 1.8em; font-weight: 700; margin: 22px 0 20px 0; text-align: left;">Attempting to bypass QuoteBot filters can result in a global blacklist</h3>
      </div>      
      
        <p style="font-size: 1.5em; font-weight: 5; text-align: left; padding: 0 20px; margin-bottom: 0;">
          There are no strict rules on what can and can't be added to QuoteBot but we do separate quotes that we detect contain vulgar terms into a different section in an effort to have quotes be more neatly organized based on their content.
        </p>
        <p style="font-size: 1.5em; font-weight: 5; text-align: left; padding: 0 20px;">
          Generally if your quote contains slurs, sensitive topics or extreme sexual language it will be placed into the NSFW category in your profile<br><br>You can find the NSFW category in your profile by clicking on the "NSFW" button after running the <span style="font-weight: bold; color: #68ADFE;">/profile</span> command.
          </p>
          <p style="font-size: 1.5em; text-align: left; padding: 0 20px; font-style: italic; margin-top: 0;">
          Additionally, your quote may also be placed in the NSFW category if the server you're attempting to add quotes to has custom filter settings. Please refer to that server's staff if you have any questions.
      </p>
      
      
      </div>
    </div>
</main>
{% endblock %}

{% block scripts %}
<!-- Page-specific scripts -->
{% endblock %}
