{% extends 'base.html' %}

{% block title %}
About - QuoteBot
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<main style="flex-grow: 1; display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 20px;">
    <div style="background: #222937; border-radius: 18px; padding-top: 40px; padding-bottom: 40px; padding-left: 100px; padding-right: 100px; width: 80%; display: flex; flex-direction: column; align-items: center; gap: 20px;">
        <div style="background: #3A4151; border-radius: 18px; padding-right: 50px; padding-left: 50px; padding-top: 20px; padding-bottom: 20px; display: inline-block; text-align: center;">
          <h2 style="font-size: 2em; font-weight: 700; color: #ffffff; margin: 0;">About</h2>
      </div>
      <div style="background: #3A4151; border-radius: 18px; padding: 20px; width: 100%; text-align: center;">
        <h3 style="font-size: 1.5em; font-weight: 700; margin-bottom: 10px;">Credits</h3>
        <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 5px;">
            <span style="flex: 1; text-align: right; padding-right: 10px;">Lead Developer:</span>
            <span style="flex: 1; text-align: left; padding-left: 10px;">@v3xi</span>
        </div>
        <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 5px;">
            <span style="flex: 1; text-align: right; padding-right: 10px;">Early Development:</span>
            <span style="flex: 1; text-align: left; padding-left: 10px;">@pastaslayer</span>
        </div>
        <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 5px;">
            <span style="flex: 1; text-align: right; padding-right: 10px;">QA Tester:</span>
            <span style="flex: 1; text-align: left; padding-left: 10px;">@qloomi, @heyitselliee</span>
        </div>
    </div>
    
    <div style="background: #3A4151; border-radius: 18px; padding: 20px; width: 100%;">
      <h3 style="font-size: 1.5em; font-weight: 700; margin: 0 0 10px 0; text-align: center;">History</h3>
      <p style="font-size: 1em; font-weight: 400; text-align: justify; padding: 0 20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis velit at dui venenatis maximus ut vitae ligula. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec pretium, elit sed ultricies pretium, ante est fermentum neque, eu maximus nisi urna quis nunc. Aliquam et imperdiet est. Aliquam rutrum orci consectetur purus rhoncus mattis. Praesent a ipsum vitae nisi feugiat eleifend bibendum ut est. In feugiat nibh in nisi maximus, a porttitor purus mollis. Sed lobortis at eros eget interdum. Vestibulum a commodo mauris. Integer rutrum sapien pharetra interdum scelerisque. Proin eget dignissim nulla. In hac habitasse platea dictumst. Quisque sed sollicitudin quam. Aliquam viverra risus vitae tellus vehicula gravida. Donec sit amet condimentum enim.

        Vivamus molestie massa nisl, vel ullamcorper velit cursus quis. Vestibulum ullamcorper diam eu arcu ultricies pretium. Donec lorem ligula, maximus in consequat non, ullamcorper ut leo. Proin a nulla a augue viverra egestas quis a dolor. Praesent tortor est, ultricies sit amet metus pellentesque, mattis egestas nibh. Aenean viverra mauris at neque bibendum bibendum. Ut a finibus nisl. Fusce non porta ligula. Donec euismod elit magna, vel consectetur magna placerat quis.
        
        In turpis purus, ultrices sit amet nibh a, eleifend posuere dolor. Curabitur in scelerisque ligula, sed lacinia ex. Nam posuere justo eu est finibus, non tempus enim fringilla. Aliquam erat volutpat. Quisque sagittis erat non massa imperdiet egestas. In nec augue sed mi volutpat scelerisque. Donec in felis a ante tempor viverra eget at urna. Maecenas nec bibendum sem. Curabitur rhoncus mattis lectus sit amet tempor. Proin tortor nisl, luctus tincidunt posuere eget, efficitur at metus. Aliquam congue, metus eget blandit eleifend, urna orci congue felis, non sollicitudin lorem magna id arcu. Praesent sit amet dapibus risus, in convallis ipsum. Cras magna metus, semper et arcu id, ultrices eleifend diam. Donec.</p>
  </div>
  
    </div>
</main>
{% endblock %}

{% block scripts %}
<!-- Page-specific scripts -->
{% endblock %}
