{% extends 'base.html' %}

{% block title %}
FAQ - QuoteBot
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<main style="flex-grow: 1; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <div style="background: #222937; border-radius: 18px; padding: 40px; width: 90%; margin: 25px 0; display: flex; flex-direction: column; align-items: center;">
        <div style="background: #3A4151; border-radius: 18px; padding-left: 50px; padding-right: 50px; padding-top: 20px; padding-bottom: 20px; text-align: center; margin-bottom: 20px; width: fit-content;">
            <h2 style="font-size: 2em; font-weight: 700; color: #fff; margin: 0;">FAQ</h2>
        </div>
        <div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 25px; width: 100%;">
            <!-- FAQ Item 1 -->
            <div class="faq-item" style="background: #3A4151; border-radius: 18px; padding: 20px; text-align: center; position: relative;" onmouseover="this.querySelector('.hover-info').style.display = 'flex';" onmouseout="this.querySelector('.hover-info').style.display = 'none';">
                <a href="/faq/add" style="color: #C0C0C0; text-decoration: none; display: block; height: 100%; width: 100%;">
                    <div class="hover-info" style="display: flex; position: absolute; top: 1; left: 50%; transform: translateX(-50%); font-style: italic; font-size: 1em; font-weight: bold; align-items: center; justify-content: center;">
                        <img src="{{ url_for('static', filename='images/faq/info.png') }}" alt="Info Icon" style="width: 15px; height: 15px; margin-right: 10px;">
                        Click to learn more
                    </div>
                    <img src="{{ url_for('static', filename='images/faq/add.png') }}" alt="Add Icon" style="width: 64px; height: 64px; margin-top: 25px;">
                    <h3 style="font-size: 1.5em; font-weight: 700; color: #fff;">Adding Quotes</h3>
                    <p style="font-size: 1em; font-weight: 400; color: #C0C0C0;">
                        You can add a quote to QuoteBot by using the <span style="font-weight: bold; color: #68ADFE;">/add</span> command in the server you wish to add the quote to.
                    </p>
                </a>
            </div>                        
            <!-- FAQ Item 2 -->
            <div class="faq-item" style="background: #3A4151; border-radius: 18px; padding: 20px; text-align: center; position: relative;" onmouseover="this.querySelector('.hover-info').style.display = 'flex';" onmouseout="this.querySelector('.hover-info').style.display = 'none';">
                <a href="/faq/delete" style="color: #C0C0C0; text-decoration: none; display: block; height: 100%; width: 100%;">
                    <div class="hover-info" style="display: none; position: absolute; top: 1; left: 50%; transform: translateX(-50%); font-style: italic; font-size: 1em; font-weight: bold; align-items: center; justify-content: center;">
                        <img src="{{ url_for('static', filename='images/faq/info.png') }}" alt="Info Icon" style="width: 15px; height: 15px; margin-right: 10px;">
                        Click to learn more
                    </div>
                    <img src="{{ url_for('static', filename='images/faq/delete.png') }}" alt="Delete Icon" style="width: 64px; height: 64px; margin-top: 25px;">
                    <h3 style="font-size: 1.5em; font-weight: 700; color: #fff;">Deleting Quotes</h3>
                    <p style="font-size: 1em; font-weight: 400; color: #C0C0C0;">
                        You can delete a quote from QuoteBot by using the <span style="font-weight: bold; color: #68ADFE;">/delete</span> command in the server you wish to remove a quote from.
                    </p>
                </a>
            </div>

            <!-- FAQ Item 3 -->
            <div class="faq-item" style="background: #3A4151; border-radius: 18px; padding: 20px; text-align: center; position: relative;" onmouseover="this.querySelector('.hover-info').style.display = 'flex';" onmouseout="this.querySelector('.hover-info').style.display = 'none';">
                <a href="/faq/profile" style="color: #C0C0C0; text-decoration: none; display: block; height: 100%; width: 100%;">
                    <div class="hover-info" style="display: none; position: absolute; top: 1; left: 50%; transform: translateX(-50%); font-style: italic; font-size: 1em; font-weight: bold; align-items: center; justify-content: center;">
                        <img src="{{ url_for('static', filename='images/faq/info.png') }}" alt="Info Icon" style="width: 15px; height: 15px; margin-right: 10px;">
                        Click to learn more
                    </div>
                    <img src="{{ url_for('static', filename='images/faq/user.png') }}" alt="Profile Icon" style="width: 64px; height: 64px; margin-top: 25px;">
                    <h3 style="font-size: 1.5em; font-weight: 700; color: #fff;">Viewing added Quotes</h3>
                    <p style="font-size: 1em; font-weight: 400; color: #C0C0C0;">
                        You can find added quotes for a user on a server by running the <span style="font-weight: bold; color: #68ADFE;">/profile</span> command.
                    </p>
                </a>
            </div>

            <!-- FAQ Item 4 -->
            <div class="faq-item" style="background: #3A4151; border-radius: 18px; padding: 20px; text-align: center; position: relative;" onmouseover="this.querySelector('.hover-info').style.display = 'flex';" onmouseout="this.querySelector('.hover-info').style.display = 'none';">
                <a href="/faq/block" style="color: #C0C0C0; text-decoration: none; display: block; height: 100%; width: 100%;">
                    <div class="hover-info" style="display: none; position: absolute; top: 1; left: 50%; transform: translateX(-50%); font-style: italic; font-size: 1em; font-weight: bold; align-items: center; justify-content: center;">
                        <img src="{{ url_for('static', filename='images/faq/info.png') }}" alt="Info Icon" style="width: 15px; height: 15px; margin-right: 10px;">
                        Click to learn more
                    </div>
                    <img src="{{ url_for('static', filename='images/faq/block.png') }}" alt="Block Icon" style="width: 64px; height: 64px; margin-top: 25px;">
                    <h3 style="font-size: 1.5em; font-weight: 700; color: #fff;">Blocking a user</h3>
                    <p style="font-size: 1em; font-weight: 400; color: #C0C0C0;">
                        You can prevent a user from adding quotes to your profile on all servers by running the <span style="font-weight: bold; color: #68ADFE;">/block</span> command.
                    </p>
                </a>
            </div>

            <!-- FAQ Item 5 -->
            <div class="faq-item" style="background: #3A4151; border-radius: 18px; padding: 20px; text-align: center; position: relative;" onmouseover="this.querySelector('.hover-info').style.display = 'flex';" onmouseout="this.querySelector('.hover-info').style.display = 'none';">
                <a href="/faq/nsfw" style="color: #C0C0C0; text-decoration: none; display: block; height: 100%; width: 100%;">
                    <div class="hover-info" style="display: none; position: absolute; top: 1; left: 50%; transform: translateX(-50%); font-style: italic; font-size: 1em; font-weight: bold; align-items: center; justify-content: center;">
                        <img src="{{ url_for('static', filename='images/faq/info.png') }}" alt="Info Icon" style="width: 15px; height: 15px; margin-right: 10px;">
                        Click to learn more
                    </div>
                    <img src="{{ url_for('static', filename='images/faq/nsfw.png') }}" alt="NSFW Icon" style="width: 64px; height: 64px; margin-top: 25px;">
                    <h3 style="font-size: 1.5em; font-weight: 700; color: #fff;">My quote is marked NSFW</h3>
                    <p style="font-size: 1em; font-weight: 400; color: #C0C0C0;">
                        If your quote was flagged it means our filters detected vulgar content within the quote and it was placed in the NSFW category on your profile.
                    </p>
                </a>
            </div>

            <!-- FAQ Item 6 -->
            <div class="faq-item" style="background: #3A4151; border-radius: 18px; padding: 20px; text-align: center; position: relative;" onmouseover="this.querySelector('.hover-info').style.display = 'flex';" onmouseout="this.querySelector('.hover-info').style.display = 'none';">
                <a href="/faq/canceled" style="color: #C0C0C0; text-decoration: none; display: block; height: 100%; width: 100%;">
                    <div class="hover-info" style="display: none; position: absolute; top: 1; left: 50%; transform: translateX(-50%); font-style: italic; font-size: 1em; font-weight: bold; align-items: center; justify-content: center;">
                        <img src="{{ url_for('static', filename='images/faq/info.png') }}" alt="Info Icon" style="width: 15px; height: 15px; margin-right: 10px;">
                        Click to learn more
                    </div>
                    <img src="{{ url_for('static', filename='images/faq/canceled.png') }}" alt="Canceled Icon" style="width: 64px; height: 64px; margin-top: 25px;">
                    <h3 style="font-size: 1.5em; font-weight: 700; color: #fff;">My quote got blocked</h3>
                    <p style="font-size: 1em; font-weight: 400; color: #C0C0C0;">
                        QuoteBot does not allow the following:
                    </p>
                    <ul style="list-style: none; padding: 0; margin: 0; color: #C0C0C0; text-align: left; display: inline-block;">
                        <li style="margin-bottom: 5px;">
                            <span style="display: inline-block; width: 20px; text-align: right;">-</span> Personal Information of any kind
                        </li>
                        <li style="margin-bottom: 5px;">
                            <span style="display: inline-block; width: 20px; text-align: right;">-</span> Links of any kind
                        </li>
                    </ul>
                </a>
            </div>

        </div>
    </div>
</main>
{% endblock %}

{% block scripts %}
<!-- Page-specific scripts -->
{% endblock %}
