<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>QuoteBot</title>
<style>
  body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif;
    background: #121726;
  }
  header {
    background: #3A4151;
    padding: 1% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
  }
  .nav-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }
  nav {
    display: flex;
    gap: 20%; /* Adjust spacing between buttons */
  }
  nav a, .profile-button {
    background: #222937;
    color: #6589C7;
    padding: 10px 20px; /* Adjust for exact padding */
    border-radius: 10px; /* Adjusted corner radius */
    text-decoration: none;
    font-weight: 700;
    font-size: 1em; /* Adjust for exact font size */
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 80px; /* Width of the largest button */
  }
  .login {
  color: #5865F2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Space between icon and text */
  margin-right: 20px; /* Gap from the right side of the screen */
}

.login img {
  width: 20px; /* Adjust for exact size */
  height: auto;
}
</style>
<script>
  function openLogoutModal() {
  document.getElementById('logout-modal').style.display = 'block';
}
</script>
<script type="text/javascript">
  window.onload = function() {
    fetch('/check_login')
      .then(response => response.json())
      .then(data => {
        const loginArea = document.querySelector('.login');
        if (data.logged_in) {
          // Set the profile image
          const avatarImg = document.createElement('img');
          avatarImg.src = data.user_info.avatar_url;
          avatarImg.alt = 'User Avatar';
          avatarImg.style.width = '32px';
          avatarImg.style.height = 'auto';
          avatarImg.style.borderRadius = '50%';

          // Clear the current contents of the login area and append the new elements
          loginArea.innerHTML = '';
          loginArea.appendChild(avatarImg);
          loginArea.append(data.user_info.username);
          // Change the href to the user's profile or logout link if you have one
          loginArea.href = '/servers'; // Replace with the correct route

          // Add event listeners to show/hide the dropdown menu on hover
          loginArea.addEventListener('mouseenter', () => {
              dropdownMenu.style.display = 'block';
              // Calculate and set the position of the dropdown menu
              const loginAreaRect = loginArea.getBoundingClientRect();
              const dropdownMenuRect = dropdownMenu.getBoundingClientRect();
              const topPosition = loginAreaRect.bottom;
              const leftPosition = loginAreaRect.right - dropdownMenuRect.width;
              dropdownMenu.style.top = `${topPosition}px`;
              dropdownMenu.style.left = `${leftPosition}px`;
          });

          let hideDropdownTimeout;

          loginArea.addEventListener('mouseenter', () => {
              // Clear any existing timeout to prevent the dropdown from hiding
              clearTimeout(hideDropdownTimeout);

              dropdownMenu.style.display = 'block';
              // Calculate and set the position of the dropdown menu
              const loginAreaRect = loginArea.getBoundingClientRect();
              const dropdownMenuRect = dropdownMenu.getBoundingClientRect();
              const topPosition = loginAreaRect.bottom;
              const leftPosition = loginAreaRect.right - dropdownMenuRect.width;
              dropdownMenu.style.top = `${topPosition}px`;
              dropdownMenu.style.left = `${leftPosition}px`;
          });

          loginArea.addEventListener('mouseleave', () => {
              // Set a timeout to hide the dropdown after 100 milliseconds
              hideDropdownTimeout = setTimeout(() => {
                  dropdownMenu.style.display = 'none';
              }, 100);
          });

          dropdownMenu.addEventListener('mouseenter', () => {
              // Clear any existing timeout when entering the dropdown menu
              clearTimeout(hideDropdownTimeout);
          });

          dropdownMenu.addEventListener('mouseleave', () => {
              // Set a timeout to hide the dropdown after 100 milliseconds
              hideDropdownTimeout = setTimeout(() => {
                  dropdownMenu.style.display = 'none';
              }, 100);
          });

        }
      }).catch(error => {
        console.error('Error:', error);
      });
  };
</script>
</head>
<body>
<!-- Dropdown menu content -->
<div id="dropdownMenu" style="display: none; margin-top: 5px; position: absolute; background-color: #222937; padding: 20px; border-radius: 20px; width: 200px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); color: white;">
  <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <a href="/profile" class="btn" style="text-decoration: none; background-color: #1D4ED8; color: white; padding: 10px 45px; border-radius: 6px; margin-bottom: 10px;">My Profile</a>
    <hr style="border: 0; height: 2px; background-color: #C0C0C0; margin: 3px 0; width: 90%;">
    <div class="theme-switcher" style="display: flex; align-items: center; gap: 5px; margin: 10px 0 20px 0;">
      <img src="{{ url_for('static', filename='images/popups/sun.png') }}" alt="Light Mode" style="width: 24px; height: 24px;">
      <label class="switch" style="position: relative; display: inline-block; cursor: pointer; width: 40px; height: 20px; background-color: #545E74; border-radius: 20px;">
        <input type="checkbox" checked style="opacity: 0; width: 0; height: 0;" onchange="toggleSwitch(this)">
        <span id="sliderBall" style="position: absolute; cursor: pointer; top: 2px; left: 22px; background-color: #2196F3; transition: .4s; border-radius: 50%; width: 16px; height: 16px;"></span>
      </label>
      <img src="{{ url_for('static', filename='images/popups/moon.png') }}" alt="Dark Mode" style="width: 24px; height: 24px;">
    </div>
    <a href="/settings" class="btn" style="text-decoration: none; background-color: #1D4ED8; color: white; padding: 8px 55px; border-radius: 6px; margin-bottom: 10px;">Settings</a>
    <a href="#" class="btn" onclick="openLogoutModal(); return false;" style="text-decoration: none; background-color: #3C81F6; color: white; padding: 8px 60px; border-radius: 6px;">Logout</a>
  </div>
</div>

<script>
// Ensuring the slider ball is positioned correctly when the page loads
document.addEventListener('DOMContentLoaded', function() {
  var checkbox = document.querySelector('.switch input[type="checkbox"]');
  toggleSwitch(checkbox);
});

function toggleSwitch(checkbox) {
  var sliderBall = document.getElementById('sliderBall');
  if (checkbox.checked) {
    sliderBall.style.backgroundColor = '#2196F3'; // Blue color for the ball
    sliderBall.style.left = '22px'; // Move ball to the right, adjusted for smaller switch size
  } else {
    sliderBall.style.backgroundColor = 'yellow'; // Yellow color for the ball
    sliderBall.style.left = '2px'; // Move ball to the left
  }
}
</script>

<script>
  // Function to show the dropdown menu
  function showDropdown() {
      var menu = document.getElementById("dropdown-menu");
      menu.style.display = "block";
  }

  // Function to hide the dropdown menu
  function hideDropdown() {
      var menu = document.getElementById("dropdown-menu");
      setTimeout(function () {
          if (!menu.matches(":hover")) {
              menu.style.display = "none";
          }
      }, 200); // Adjust the delay as needed
  }
</script>
<!-- Logout Modal -->
<div id="logout-modal" class="modal" style="display:none; position: fixed; z-index: 1000; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgba(0,0,0,0.4);">
  <div class="modal-content" style="background-color: #222937; margin: 15% auto; padding: 20px; border-radius: 15px; width: 400px; position: relative; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); display: flex; flex-direction: column; align-items: center;">
    <!-- Close Icon -->
    <img src="{{ url_for('static', filename='images/popups/close.png') }}" alt="Close" onclick="document.getElementById('logout-modal').style.display='none';" style="width: 24px; height: 24px; position: absolute; right: 20px; top: 20px; cursor: pointer;">
    <!-- Logout Confirmation -->
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo Icon" style="width: 64px; height: 64px; margin-top: 20px;">
    <h3 style="color: white; text-align: center;">Are you sure you want to log out?</h3>
    <hr style="border: 0; height: 2px; background-color: #C0C0C0; margin-top: 3px; margin-bottom: 20px; margin-right: 0px; margin-left: 0px; width: 90%;">
    <!-- Logout Button -->
    <a href="/logout" style="text-decoration: none; background-color: #FF4742; color: white; padding: 10px 40px 10px 40px; border-radius: 10px; margin-top: 10px; margin-bottom: 20px; font-weight: bold; font-size: 24px;">Log out</a>

  </div>
</div>
<!-- Content wrapper -->
<div class="content-wrapper" style="flex-grow: 1; display: flex; flex-direction: column;">
  <!-- HEADER -->
  <header style="background: #3A4151; padding: 1% 0; display: flex; justify-content: space-between; align-items: center; border-radius: 3px;">
    <div class="nav-container" style="display: flex; justify-content: center; flex-grow: 1;">
      <nav style="display: flex; gap: 20%;">
        <a href="/about" style="background: #222937; color: #6589C7; padding: 10px 20px; border-radius: 10px; text-decoration: none; font-weight: 700; font-size: 1em; display: flex; align-items: center; justify-content: center; min-width: 80px;">About</a>
        <a href="/faq" style="background: #222937; color: #6589C7; padding: 10px 20px; border-radius: 10px; text-decoration: none; font-weight: 700; font-size: 1em; display: flex; align-items: center; justify-content: center; min-width: 80px;">FAQ</a>
        <a href="/changelog" style="background: #222937; color: #6589C7; padding: 10px 20px; border-radius: 10px; text-decoration: none; font-weight: 700; font-size: 1em; display: flex; align-items: center; justify-content: center; min-width: 80px;">Changelog</a>
      </nav>
    </div>
    <a href="/login" class="login" style="background: #222937; color: #6589C7; padding: 10px 20px; border-radius: 10px; text-decoration: none; font-weight: 700; font-size: 1em; display: flex; align-items: center; justify-content: center; gap: 10px; margin-right: 20px;">
      <img src="https://cdn.discordapp.com/attachments/1044880151017705512/1179098284560760842/discord-mark-blue.png" alt="Login Icon" style="width: 20px; height: auto;">
      <span>Login</span>
    </a>
  </header>
<!-- LOGO + STATS -->
<div style="background: #121726; padding: 2% 0; text-align: center;">
    <!-- Logo and QuoteBot text, inline with no background box -->
<img src="{{ url_for('static', filename='images/logo.png') }}" alt="QuoteBot Logo" style="width: 250px; vertical-align: middle;">
<h1 style="color: #71CB70; display: inline; font-size: 4em; font-weight: 700; vertical-align: middle; margin: 0;">Quote</h1><!--
--><h1 style="color: #F8F991; display: inline; font-size: 4em; font-weight: 700; vertical-align: middle; margin: 0;">Bot</h1>
<div style="background: #121726; padding: 2% 0; text-align: center;">

    
    <!-- Stats section -->
    <div style="margin: 10px; background: #222937; padding: 20px; border-radius: 34px;">
        <p style="color: #6589C7; font-size: 1.5em;">The go to tool for saving and organizing quotes in servers!</p>
        <div style="display: flex; justify-content: center; gap: 10%; margin-top: 10px; flex-wrap: wrap; margin-bottom: 20px">
            <div style="color: white; font-size: 2em;">
                <strong>425</strong> Servers
            </div>
            <div style="color: white; font-size: 2em;">
                <strong>8500+</strong> Quotes
            </div>
            <div style="color: white; font-size: 2em;">
                <strong>1200+</strong> Users
            </div>
        </div>
    </div>
    
    <!-- RATING + INVITE -->
    <div style="margin: 10px; background: #222937; padding:10px; border-radius: 34px; display: flex; justify-content: center; gap: 20%; align-items: center; margin-top: 20px">
        <div>
            <div style="margin-top: 20px;color: #FFD700; font-size: 2em;">★★★★★</div>
            <p style="color: white; font-size: 1.5em;">Rated 4.7 Stars on Top.gg</p>
        </div>
        <button onclick="window.open('https:/\/discord.com/oauth2/authorize?client_id=814379239930331157&permissions=139586825280&scope=bot%20applications.commands', '_blank');" 
        style="background: #3662E4; color: white; padding: 1em 2em; font-size: 1.5em; border-radius: 20px; border: none; cursor: pointer;">
            Add QuoteBot to Discord
        </button>

    </div>
</div>

<!-- FEATURE LIST -->
    <div style="margin: 10px; background: #222937; padding:10px; border-radius: 34px; display: flex; justify-content: center; gap: 20%; align-items: center; margin-top: 0px">

    <!-- Features container -->
    <div style="background: #222937; padding: 20px; border-radius: 34px; text-align: center; display: flex; flex-wrap: wrap; justify-content: space-around; gap: 20px;">

        <!-- Custom Quotes -->
        <div style="width: 45%; background: #333A4D; padding: 20px; border-radius: 20px; position: relative;">
          <img src="{{ url_for('static', filename='images/home/quotes.png') }}" alt="Custom Quotes Icon" style="margin-bottom: 5px; width: 50px">
            <h2 style="color: #6998FB; font-size: 1.5em;">Custom Quotes</h2>
            <p style="color: white; font-size: 1em;">Save anything your friends say on QuoteBot!</p>
        </div>
        
        <!-- Quote Profiles -->
        <div style="width: 45%; background: #333A4D; padding: 20px; border-radius: 20px; position: relative;">
          <img src="{{ url_for('static', filename='images/home/user.png') }}" alt="Quote Profiles Icon" style="margin-bottom: 5px; width: 50px">
            <h2 style="color: #6998FB; font-size: 1.5em;">Quote Profiles</h2>
            <p style="color: white; font-size: 1em;">Easily view a user's quote with QuoteBot's streamline user profile interface!</p>
        </div>
        
        <!-- Random Quote -->
        <div style="width: 45%; background: #333A4D; padding: 20px; border-radius: 20px; position: relative;">
          <img src="{{ url_for('static', filename='images/home/dice.png') }}" alt="Random Quote Icon" style="margin-bottom: 5px; width: 50px">
            <h2 style="color: #6998FB; font-size: 1.5em;">Random Quote</h2>
            <p style="color: white; font-size: 1em;">Find a random quote from a member's profile!</p>
        </div>
        
        <!-- Profile Customizer -->
        <div style="width: 45%; background: #333A4D; padding: 20px; border-radius: 20px; position: relative;">
          <img src="{{ url_for('static', filename='images/home/customization.png') }}" alt="Profile Customizer Icon" style="margin-bottom: 5px; width: 50px">
            <h2 style="color: #6998FB; font-size: 1.5em;">Profile Customizer</h2>
            <p style="color: white; font-size: 1em;">Make your QuoteBot profile unique by pinning a quote and setting your bio!</p>
        </div>
        
        <!-- Multiple Languages -->
        <div style="width: 45%; background: #333A4D; padding: 20px; border-radius: 20px; position: relative;">
            <div style="position: absolute; top: 10px; left: 10px; background: #58BC86; padding: 10px 10px; border-radius: 10px; color: white; font-size: 0.8em;">
                Coming in version 5!
            </div>
            <img src="{{ url_for('static', filename='images/home/translate.png') }}" alt="Multiple Languages Icon" style="margin-bottom: 5px; width: 50px">
            <h2 style="color: #6998FB; font-size: 1.5em;">Multiple Languages</h2>
            <p style="color: white; font-size: 1em;">Use QuoteBot features in your primary language! Including content filtering!</p>
        </div>

        <!-- Community Support -->
        <div style="width: 45%; background: #333A4D; padding: 20px; border-radius: 20px; position: relative;">
            <div style="position: absolute; top: 10px; left: 10px; background: #58BC86; padding: 10px 10px; border-radius: 10px; color: white; font-size: 0.8em;">
                Coming in version 5!
            </div>
            <img src="{{ url_for('static', filename='images/home/group.png') }}" alt="Community Support Icon" style="margin-bottom: 5px; width: 50px">
            <h2 style="color: #6998FB; font-size: 1.5em;">Community Support</h2>
            <p style="color: white; font-size: 1em;">If your community is large don't worry! QuoteBot has a wide array of customizable settings to help you manage who, when and where it can be used!</p>
        </div>

    </div>
</div>
<!-- FOOTER -->
<footer style="background: #3A4151; padding: 1%; text-align: center; color: white; font-size: 1em; border-radius: 3px; margin-top: 10px; margin-bottom: 10px; position: absolute; width: 100%">
    © 2023 QuoteBot, all rights reserved
</footer>


