{% extends 'base.html' %}

{% block title %}
Profile - QuoteBot
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div style="background: #222937; border-radius: 10px; padding: 20px; margin: 30px">
    <!-- Server List Header with Search Bar -->
    <div style="display: flex; justify-content: space-between; align-items: center; padding: 0 5%; margin-top: 10px;">
        <h2 style="color: #fff; font-size: 32px; margin-left: 0">Your Servers</h2>
        <input type="text" id="server-search" placeholder="Search servers..." oninput="searchServers()" style="padding: 10px; border-radius: 5px; border: none; min-width: 400px;">
    </div>

    <!-- Server List Section -->
    <div id="server-list" style="display: grid; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); gap: 16px; align-items: start; justify-content: center; padding: 20px; margin: 0 3.5%">
        {% for server_id, server in server_details.items() %}
            <div class="server-card" style="background: #3A4151; border-radius: 10px; padding: 20px; color: #fff; display: flex; flex-direction: column; align-items: center; justify-content: center; height: 200px; text-align: center;">
                <img src="{{ server.icon_url }}" alt="{{ server.name }}" style="width: 50px; height: 50px; border-radius: 50%; margin-bottom: 10px;">
                <div class="server-name" style="max-width: 180px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-bottom: 10px" title="{{ server.name }}">
                    {{ server.name }}
                </div>
                {% if server_id in quotebot_servers %}
                    <!-- Server is in QuoteBot server list -->
                    <div style="color: gold; font-size: 20px; margin-bottom: 5px; margin-top: 5px">{{ server.quotes }}</div>
                    <div style="font-weight: bold; margin-bottom: 10px;">Quotes</div>
                    <a href="{{ '/faq/add' if server.quotes == 0 else url_for('view_server', server_id=server_id) }}" style="background: #5865F2; color: #fff; border: none; border-radius: 5px; padding: 10px 20px; cursor: pointer; text-decoration: none; margin-top: 10px;">
                        {{ 'Add Quotes!' if server.quotes == 0 else 'View Server' }}
                    </a>
                {% else %}
                    <!-- Server is NOT in QuoteBot server list -->
                    <div style="color: red; font-size: 20px; margin-bottom: 20px; margin-top: 10px;">Missing QuoteBot!</div>
                    <a href="https://discord.com/oauth2/authorize?client_id=814379239930331157&permissions=139586825280&scope=bot%20applications.commands" target="_blank" style="background: #FF5555; color: #fff; border: none; border-radius: 5px; padding: 10px 20px; cursor: pointer; text-decoration: none; margin-top: 10px;">
                        Invite QuoteBot
                    </a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>

<!-- Add a loading message div -->
<div id="loading-message" style="display: none; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
    <h2>Loading servers, please wait...</h2>
    <!-- Add more styling or a loading spinner as needed -->
</div>
{% endblock %}

{% block scripts %}
<script>
    // Function to check cache update status
    function checkCacheUpdateStatus() {
        fetch('/get_cache_update_status')
            .then(response => response.json())
            .then(data => {
                if (data.cache_update_in_progress) {
                    // Show loading message
                    document.getElementById('loading-message').style.display = 'block';
                } else {
                    // Hide loading message and reload page if it was previously shown
                    const loadingMessage = document.getElementById('loading-message');
                    if (loadingMessage.style.display === 'block') {
                        loadingMessage.style.display = 'none';
                        clearInterval(cacheCheckInterval); // Clear the interval
                        location.reload(); // Reload the page
                    }
                }
            })
            .catch(error => console.error('Error:', error));
    }

    // Call the function immediately and then set an interval to check periodically
    checkCacheUpdateStatus();
    // var cacheCheckInterval = setInterval(checkCacheUpdateStatus, 2000); // Check every 2 seconds and store the interval ID
</script>
<script>
    function searchServers() {
        var input, filter, serverList, cards, nameDiv, i, txtValue;
        input = document.getElementById('server-search');
        filter = input.value.toUpperCase();
        serverList = document.getElementById('server-list');
        cards = serverList.getElementsByClassName('server-card');

        for (i = 0; i < cards.length; i++) {
            nameDiv = cards[i].getElementsByClassName("server-name")[0];
            txtValue = nameDiv.getAttribute("title");
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                cards[i].style.display = "flex"; // Ensure the display style is set to flex
                // Apply consistent styling for the search results
                cards[i].style.justifyContent = "center";
                cards[i].style.alignItems = "center";
                cards[i].style.textAlign = "center";
            } else {
                cards[i].style.display = "none";
            }
        }
    }
</script>
{% endblock %}
