{% extends 'base.html' %}

{% block title %}
Profile - QuoteBot
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<!-- Main Content -->
<div style="display: flex; justify-content: center; align-items: center; width: 100%;">
    <div id="mainBackground" style="width: 90%; background: #222937; padding: 30px; border-radius: 10px; margin: 20px 0;">
        
        <!-- Server Name and Search Bar -->
        <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
            <h2 style="color: #fff; flex-grow: 1; margin-left: 25px">{{ server_name }}'s Quotes</h2>
            <input type="text" id="quote-search" placeholder="Search quotes by user, date or text..." oninput="searchQuotes()" style=" padding: 10px; border-radius: 5px; border: none; min-width: 450px; margin-right: 25px " >
        </div>
        

        <!-- Check if there are quotes and display them -->
        {% if server_quotes %}
            <div id="quotes-grid" style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 20px; justify-items: center;">
                {% for quote in server_quotes %}
                    <div class="quote-card" style="border-radius: 10px; padding: 15px; display: flex; flex-direction: column; align-items: center; width: 350px; height: 140px; text-align: center; color: #fff; margin-bottom: 20px;">
                        <div style="display: flex; justify-content: space-between; width: 100%; align-items: center;">
                            <div style="display: flex; align-items: center;">
                                <img src="{{ quote['profile_pic'] }}" alt="{{ quote['author'] }}" style="width: 45px; height: 45px; border-radius: 50%; margin-right: 10px;">
                                <p class="quote-author" title="{{ quote['author'] }}" style="font-weight: 700; max-width: 180px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ quote['author'] }}</p>
                            </div>
                            <p style="margin: 0; margin-right: 15px; font-size: 18px; color: #fff; font-style: italic;">{{ quote['date'] }}</p>
                        </div>
                        <p id="quote-text" style="margin-top: 30px; font-size: 18px; max-height: 80px; overflow-y: auto;">"{{ quote['text'] }}"</p>
                    </div>
                {% endfor %}
            </div>
            <div style="text-align: center; color: #fff; margin-top: 20px;">
                <div style="display: inline-block; margin-bottom: 10px;">
                    <!-- Circles indicating a carousel or page view, styled as needed -->
                    <span style="height: 10px; width: 10px; background-color: #bbb; border-radius: 50%; display: inline-block; margin: 0 5px;"></span>
                    <span style="height: 10px; width: 10px; background-color: #bbb; border-radius: 50%; display: inline-block; margin: 0 5px;"></span>
                    <span style="height: 10px; width: 10px; background-color: #bbb; border-radius: 50%; display: inline-block; margin: 0 5px;"></span>
                </div>
                <p id='carosel_1' style="color: #fff; font-size: 24px; font-weight: 600;"> That's all of them!</p>
                <p id='carousel_2'>Use the <span style="color: #587BF7;">/add</span> command on Discord to contribute more quotes!</p>
            </div>
        {% else %}
            <p style="text-align: center; color: #fff;">No quotes found for this server.</p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    // Define the color themes
    const serverQuotesDarkModeColors = {
        mainBackground: "#222937",
        quoteCardBackground: "#3A4151",
        textColor: "#ffffff",
        carouselIndicatorColor: "#bbb",
    };

    const serverQuotesLightModeColors = {
        mainBackground: "#D1D7E0",
        quoteCardBackground: "#F0F0F0",
        textColor: "#000000",
        carouselIndicatorColor: "#333333",
    };

    // Function to apply the theme
    function applyServerQuotesTheme(themeColors) {
        // Main content area
        const mainContent = document.getElementById('mainBackground');
        if (mainContent) {
            mainContent.style.background = themeColors.mainBackground;
        }

        // Server Name
        const serverName = document.querySelector('h2');
        if (serverName) {
            serverName.style.color = themeColors.textColor;
        }

        // Quote cards
        const quoteCards = document.querySelectorAll('.quote-card');
        quoteCards.forEach(card => {
            card.style.background = themeColors.quoteCardBackground;
            card.querySelectorAll('p').forEach(p => {
                p.style.color = themeColors.textColor;
            });
        });

        // Carousel indicators
        const carouselIndicators = document.querySelectorAll('span[style*="background-color: #bbb"]');
        carouselIndicators.forEach(indicator => {
            indicator.style.backgroundColor = themeColors.carouselIndicatorColor;
        });

        // Apply fade effect on quote cards
        applyFadeEffectOnQuoteCards(themeColors.quoteCardBackground);
    }

    // Function to apply fade effect on quote cards
    function applyFadeEffectOnQuoteCards(quoteCardBackground) {
        var cards = document.querySelectorAll('#quotes-grid .quote-card');
        var rowCount = Math.ceil(cards.length / 3);

        for (var i = 0; i < rowCount; i++) {
            var colorOffset = i / (rowCount - 1);
            var startColor = interpolateColor("#737F9C", quoteCardBackground, colorOffset);

            for (var j = 0; j < 3; j++) {
                var cardIndex = i * 3 + j;
                if (cardIndex < cards.length) {
                    cards[cardIndex].style.background = startColor;
                }
            }
        }
    }

    // Interpolate color function
    function interpolateColor(color1, color2, factor) {
        var result = color1.slice(1).match(/.{2}/g).map(function(hex){
            return parseInt(hex, 16)
        }).map(function(value, i){
            return Math.round(value + (parseInt(color2.slice(1).match(/.{2}/g)[i], 16) - value) * factor)
        });
        return '#' + result.map(function(value){
            return value.toString(16).padStart(2, '0')
        }).join('');
    }

    // Listen for theme changes
    window.addEventListener('themeChanged', function(e) {
        let currentTheme = e.detail.theme === 'light' ? serverQuotesLightModeColors : serverQuotesDarkModeColors;
        applyServerQuotesTheme(currentTheme);
    });

    // Apply the initial theme based on localStorage
    let initialTheme = localStorage.getItem('theme') === 'light' ? serverQuotesLightModeColors : serverQuotesDarkModeColors;
    applyServerQuotesTheme(initialTheme);
</script>
<script>
    function searchQuotes() {
        var input, filter, quotesGrid, quoteCards, i, txtValue;
        input = document.getElementById('quote-search');
        filter = input.value.toUpperCase();
        quotesGrid = document.getElementById('quotes-grid');
        quoteCards = quotesGrid.getElementsByClassName('quote-card');
    
        for (i = 0; i < quoteCards.length; i++) {
            var authorNameDiv = quoteCards[i].getElementsByClassName("quote-author")[0];
            txtValue = authorNameDiv.getAttribute("title").toUpperCase(); // Use the title attribute for the full name
            var dateText = quoteCards[i].getElementsByTagName("p")[1].textContent.toUpperCase();
            var quoteText = quoteCards[i].getElementsByTagName("p")[2].textContent.toUpperCase();
    
            if (txtValue.indexOf(filter) > -1 || dateText.indexOf(filter) > -1 || quoteText.indexOf(filter) > -1) {
                quoteCards[i].style.display = ""; // Show the card
            } else {
                quoteCards[i].style.display = "none"; // Hide the card
            }
        }
    }
</script>
{% endblock %}
